@font-face {
    font-family: 'DsMoster';
    src: local('Russo One'),
        url('../../fonts/DsMoster.woff2') format('woff2'),
        url('../../fonts/DsMoster.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Russo One';
    src: local('Russo One'),
        url('../../fonts/RussoOne.woff2') format('woff2'),
        url('../../fonts/RussoOne.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scorched Earth';
    src: url('../../fonts/ScorchedEarth.woff2') format('woff2'),
         url('../../fonts/ScorchedEarth.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}